In [ ]:
!pip3 install koalas

Collecting koalas
  Downloading https://files.pythonhosted.org/packages/1e/72/4048c6965c4c923bd88e82d0748eeed5bc02c74cf36d88645d974367e3b3/koalas-1.8.1-py3-none-any.whl (1.4MB)
     |████████████████████████████████| 1.4MB 7.7MB/s
Requirement already satisfied: pyarrow>=0.10 in /usr/local/lib/python3.7/dist-packages (from koalas) (3.0.0)
Requirement already satisfied: numpy>=1.14 in /usr/local/lib/python3.7/dist-packages (from koalas) (1.19.5)
Requirement already satisfied: pandas>=0.23.2 in /usr/local/lib/python3.7/dist-packages (from koalas) (1.1.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.23.2->koalas) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.23.2->koalas) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.23.2->koalas) (1.15.0)
Installing collected packages: koalas
Successfully installed koalas-1.8.1

# Koalas 
The Koalas project makes data scientists more productive when interacting with big data, by implementing the pandas DataFrame API on top of Apache Spark. pandas is the de facto standard (single-node) DataFrame implementation in Python, while Spark is the de facto standard for big data processing. With this package, you can:

Be immediately productive with Spark, with no learning curve, if you are already familiar with pandas.

Have a single codebase that works both with pandas (tests, smaller datasets) and with Spark (distributed datasets).

In [ ]:
!pip install pyarrow==0.15.1

Collecting pyarrow==0.15.1
  Downloading https://files.pythonhosted.org/packages/5a/ee/fd2d696eff911f76ed14feeb51e6db6783dd04abd9b8e14be4cbf48d6088/pyarrow-0.15.1-cp37-cp37m-manylinux2010_x86_64.whl (59.2MB)
     |████████████████████████████████| 59.2MB 51kB/s
Requirement already satisfied: numpy>=1.14 in /usr/local/lib/python3.7/dist-packages (from pyarrow==0.15.1) (1.19.5)
Requirement already satisfied: six>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from pyarrow==0.15.1) (1.15.0)
Installing collected packages: pyarrow
  Found existing installation: pyarrow 3.0.0
    Uninstalling pyarrow-3.0.0:
      Successfully uninstalled pyarrow-3.0.0
Successfully installed pyarrow-0.15.1

# PyArrow
PyArrow includes Python bindings to this code, which thus enables reading and writing Parquet files with pandas as well.

In [ ]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null  #
!wget -q https://downloads.apache.org/spark/spark-3.0.3/spark-3.0.3-bin-hadoop3.2.tgz
!tar xf spark-3.0.3-bin-hadoop3.2.tgz
!pip install -q findspark

1. Spark is written in the Scala programming language and requires the Java Virtual Machine (JVM) to run. Therefore, our first task is to download Java.
 
2. we will install Apache Spark 3.0.3 with Hadoop 3.2 and we ll unzip it
 
3. There is one last thing that we need to install and that is the findspark library. It will locate Spark on the system and import it as a regular library

In [ ]:
!ls /usr/lib/jvm/ # Checking java path

default-java		   java-11-openjdk-amd64     java-8-openjdk-amd64
java-1.11.0-openjdk-amd64  java-1.8.0-openjdk-amd64

In [ ]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.0.3-bin-hadoop3.2"

 Now that we have installed all the necessary dependencies in Colab, it is time to set the environment path. This will enable us to run Pyspark in the Colab environment.

In [ ]:
import findspark
findspark.init()
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").getOrCreate()

We need to locate Spark in the system. For that, we import findspark and use the findspark.init() method.

In [ ]:
import sys
from pyspark.sql.functions import *

In [ ]:
import databricks.koalas as ks
df_koalas=ks.read_csv("/content/census.csv")

In [ ]:
df_koalas.tail()

       age      workclass    education  education_num       marital_status          occupation relationship    race   gender  hours_per_week  native_country  greater_than_50k
32555   27        Private   Assoc-acdm             12   Married-civ-spouse        Tech-support         Wife   White   Female              38   United-States                 0
32556   40        Private      HS-grad              9   Married-civ-spouse   Machine-op-inspct      Husband   White     Male              40   United-States                 1
32557   58        Private      HS-grad              9              Widowed        Adm-clerical    Unmarried   White   Female              40   United-States                 0
32558   22        Private      HS-grad              9        Never-married        Adm-clerical    Own-child   White     Male              20   United-States                 0
32559   52   Self-emp-inc      HS-grad              9   Married-civ-spouse     Exec-managerial         Wife   White   Female              40   United-States                 1

In [ ]:
df_koalas.shape

(32560, 12)